
.logo {
    float: left;
}
.bs_item1 {
    float: left;
    margin-top: 71.62px;
}
.bs_item2 {
    float: left;
    margin-top: 70;
}
.bs_item3 {
    float: left;
    margin-top: 70;
    margin-left: 191px;
}
.grid > div {
  display:grid;
  padding: 1em;
  margin-bottom: 20px;
}
.bs-grid > div {
  display:grid;
  margin-bottom: 20px;
}

.button-row{
  font-size: large;
  grid-template-columns: 20% 20% 20% 20% 20%
}
.myButton{
    background:url(./images/but.png) no-repeat;
    cursor:pointer;
    border:none;
    width:200px;
    height:200px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.myButton:hover {
    background:url(./images/but.png) no-repeat;
    background-color: grey;
    color: white;
}
.myButton:active {
    background:url(./images/but.png) no-repeat;
    background-color:grey;
}
.nav-item {
  margin-right: 50px;
  font-size: 120%
}
.mydropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: #9FD3DF;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
.mydropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10000;
}
.mydropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.mydropdown-content a:hover {
  background-color: #A9B6B9;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}
.mydropdown:hover .mydropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #grey;
}
